@model Glossary.Models.GlossaryItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>GlossaryItem</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
